*.grib
data/*.idx
notebooks/.ipynb_checkpoints
.DS_Store
.ipynb_checkpoints

data/countries_shp
data/*.zip*
*.nc
*.csv

__pycache__
*.pyc
*.zip

data/vhi*
data/esa*

example_scripts/parallel_python/copy_to_server.sh
example_scripts/parallel_python/
docs/presentations

copy_to_server.sh
*.out

data/esa_cci_veg
data/vhi

*.pkl
data/raw/*.nc
data/raw/*/*.nc
.mypy_cache/

glofas_paper
josh_scripts
Code
dunning_scripts
sippel_egu
*.png
*.grb
plots/

climate_indices.R
atzberger_ndvi

.Rhistory